<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <resolveTokens>
        <processor type="Arcwave.RichText.Pipelines.ResolveTokens.ResolveEditingTokens, Arcwave.RichText" resolve="true" patch:instead="*[@type='Sitecore.XA.Foundation.Editing.Pipelines.ResolveTokens.ResolveEditingTokens, Sitecore.XA.Foundation.Editing']" >
          <profileMapping type="Arcwave.RichText.Models.RteMappingConfiguration, Arcwave.RichText" >
            <rteMappings hint="raw:AddRteMappings">
              <rteMappping name="Description1" rtePath="/sitecore/system/Settings/Html Editor Profiles/Arcwave Rich Text Query Matching/Sample Description 1" token="$arcwave1RichTextProfile">
                <roles name="WebEntity">
                  <role>sitecore\Arcwave Webmaster</role>
                </roles>
              </rteMappping>
              <rteMappping name="Description2" rtePath="/sitecore/system/Settings/Html Editor Profiles/Arcwave Rich Text Query Matching/Sample Description 2" token="$arcwave2RichTextProfile">
                <roles name="WebEntity">
                  <role>sitecore\Arcwave Developer</role>
                </roles>
              </rteMappping>
              <rteMappping name="Description3" rtePath="/sitecore/system/Settings/Html Editor Profiles/Arcwave Rich Text Query Matching/Sample Description 3" token="$arcwave3RichTextProfile">
                <roles name="WebEntity">
                  <role>sitecore\Arcwave Webmaster</role>
                </roles>
              </rteMappping>
              <rteMappping name="Description4" rtePath="/sitecore/system/Settings/Html Editor Profiles/Arcwave Rich Text Query Matching/Sample Description 4" token="$arcwave4RichTextProfile">
                <roles name="WebEntity">
                  <role>sitecore\Arcwave Webmaster</role>
                </roles>
              </rteMappping>
              <rteMappping name="DefaultRichtext" rtePath="/sitecore/system/Settings/Html Editor Profiles/Arcwave Rich Text Query Matching/Arcwave Default" token="$arcwaveDefaultRichTextProfile">
                <roles>
                  <role>sitecore\Arcwave Web</role>
                </roles>
              </rteMappping>
            </rteMappings>
          </profileMapping>
        </processor>
      </resolveTokens>
      <getChromeData>
        <processor type="Arcwave.RichText.Pipelines.GetChromeData.GetRichTextChromeData, Arcwave.RichText" resolve="true" patch:instead="*[@type='Sitecore.XA.Foundation.Editing.Pipelines.GetChromeData.GetRichTextChromeData, Sitecore.XA.Foundation.Editing']" >
        </processor>
      </getChromeData>      
    </pipelines>
    <settings>
      <setting name="Arcwave.RichText.ApplyTokenOnAdmin" value="true" />
    </settings>
  </sitecore>
</configuration>
